name: Playwright C# Tests

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    
    - name: Build WebsiteGym.Web
      run: dotnet build WebsiteGym.Web/WebsiteGym.Web.csproj
    
    - name: Start WebsiteGym.Web
      run: |
        cd WebsiteGym.Web
        dotnet run &
        sleep 10
        curl http://localhost:5000
    
    - name: Restore Playwright C# project
      working-directory: PlaywrightTests.CSharp
      run: dotnet restore
    
    - name: Build Playwright tests
      working-directory: PlaywrightTests.CSharp
      run: dotnet build --no-restore
    
    - name: Install Playwright browsers
      working-directory: PlaywrightTests.CSharp
      run: pwsh bin/Debug/net9.0/playwright.ps1 install --with-deps
    
    - name: Run Playwright tests
      working-directory: PlaywrightTests.CSharp
      env:
          PWTRACE: on
      run: dotnet test --no-build --logger "trx;LogFileName=TestResults.trx" --results-directory TestResults

    - name: Install Allure CLI
      run: |
          sudo apt-add-repository ppa:qameta/allure
          sudo apt-get update
          sudo apt-get install allure

    - name: Generate Allure Report
      working-directory: PlaywrightTests.CSharp
      run: |
          allure generate TestResults -o TestResults/allure-report --clean

    - name: Upload test results TRX
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: test-results
        path: PlaywrightTests.CSharp/TestResults/*.trx

    - name: Upload Allure HTML
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: allure-report
        path: PlaywrightTests.CSharp/TestResults/allure-report

    - name: Upload Playwright traces
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: playwright-traces
        path: PlaywrightTests.CSharp/playwright-traces/